<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <system.diagnostics>
    <switches>
      <add name="EqtTraceLevel" value="4" />
    </switches>
  </system.diagnostics>
  <appSettings>

    <add key="path" value="C:\Users\george_serban\rock-paper-scissors\RockPaperScissors" />

  </appSettings>
  <connectionStrings>
    <add name="(localdb)\v13.0" connectionString="Server=(localdb)\v13.0;Integrated Security=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>